/* Fonts */

@font-face {
    font-family: EvolveSans;
    src: url(/fonts/evolve_sans_regular.OTF) format("opentype");
}

@font-face {
    font-family: EvolveSans;
    font-weight: bold;
    src: url(/fonts/evolve_sans_bold.OTF) format("opentype");
}

@font-face {
    font-family: EvolveSans;
    font-weight: 100;
    src: url(/fonts/evolve_sans_thin.OTF) format("opentype");
}

@font-face {
    font-family: EvolveSans;
    src: url(/fonts/evolve_sans_light.OTF) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: EvolveSans;
    font-weight: 500;
    src: url(/fonts/evolve_sans_medium.OTF) format("opentype");
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.info-text {
    font-size: 0.9rem;
}

/* Global */

body {
    font-family: 'EvolveSans', serif;  
}

.box-shadow {
    -webkit-box-shadow: 4px 5px 8px -3px rgba(0,0,0,0.61); 
    box-shadow: 4px 5px 8px -3px rgba(0,0,0,0.61);
}

.red-button {
    background-color: #B66868;
    color: white;
}

.purple-button {
    background-color: #643C7C;
    color: white;
}

.btn {
    font-weight: 500;
    font-size: 1.3rem;
}

.button-center {
    height: 9rem;
}

.big-title {
    font-size: 5rem;
    margin-bottom: 0rem;
}

.sub-title {
    font-size: 3.5rem;
    margin-bottom: 0rem;
}

.rounded-5 {
    border-radius: 2.25rem;
}

.rounded-info {
    border-radius: 1rem;
}

.half-width {
    width: 55%;
}

/* Colours */

.yellow {
   color: #E1C27A; 
}

.purple {
    color: #643C7C;
}

.red {
    color: #B66868;
}

.red-background {
    background-color: #B66868;
}

.beige {
    color: #F4E8DD;
}

.beige-fill {
    fill: #F4E8DD;
}

.beige-background {
    background-color: #F4E8DD;
}

.white {
    color: whitesmoke;
}

/* Navbar */
.navbar {
    box-shadow: 0px 1px 10px 1px rgb(148 139 148 / 83%);
}

/* Sell Wine */

.sell-wine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wine-graphic {
    width: 100%;
}

.squish {
    width: 70%;
}

/* Panels */

.panels {
    background: #F4E8DD;
}

.cards {
    background-color: #F4E8DD;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Timeline */

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 15rem;
    justify-content: center;
}

.info-oppo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15rem;
    justify-content: center;
}

.portfolio {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.portfolio-oppo {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: center;
}

.circle {
    width: 23%;
    height: 17rem;
    border-radius: 50%;
    background-color: #643C7C;
    position: absolute;
    right: 20rem;
    border: 8px solid white;
}

.circle-oppo {
    width: 23%;
    height: 17rem;
    border-radius: 50%;
    background-color: #643C7C;
    position: absolute;
    left: 20rem;
    border: 8px solid white;
}