/* Fonts */

@font-face {
    font-family: EvolveSans;
    src: url(/fonts/evolve_sans_regular.OTF) format("opentype");
}

@font-face {
    font-family: EvolveSans;
    font-weight: bold;
    src: url(/fonts/evolve_sans_bold.OTF) format("opentype");
}

@font-face {
    font-family: EvolveSans;
    font-weight: 100;
    src: url(/fonts/evolve_sans_thin.OTF) format("opentype");
}

@font-face {
    font-family: EvolveSans;
    src: url(/fonts/evolve_sans_light.OTF) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: EvolveSans;
    font-weight: 500;
    src: url(/fonts/evolve_sans_medium.OTF) format("opentype");
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.thin-info {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.info-text {
    font-size: 0.9rem;
}

/* Global */

body {
    font-family: 'EvolveSans', serif;  
}

.box-shadow-red {
    -webkit-box-shadow: 4px 5px 8px -3px rgba(195, 115, 115, 1); 
    box-shadow: 4px 5px 8px -3px rgba(195, 115, 115, 1);
}

.box-shadow-beige {
    -webkit-box-shadow: 4px 5px 8px -3px rgba(223, 202, 183, 1); 
    box-shadow: 4px 5px 8px -3px rgba(223, 202, 183, 1);
}

.top-padding {
    padding-top: 3rem;
}

.red-button {
    background-color: #B66868;
    color: white;
}

.purple-button {
    background-color: #643C7C;
    color: white;
}

.light-purple-button {
    background-color: #d2b2e4;
    color: white;
}

.btn {
    font-weight: 500;
    font-size: 1.3rem;
}

.button-center {
    height: 9rem;
}

.big-title {
    font-size: 5rem;
    margin-bottom: 0rem;
}

.sub-title {
    font-size: 3.5rem;
    margin-bottom: 0rem;
}

.rounded-5 {
    border-radius: 2.25rem;
}

.rounded-info {
    border-radius: 1rem;
}

.half-width {
    width: 55%;
}

.minus-margin {
    margin-top: -11rem;
}

.mid-minus-margin {
    margin-top: -3rem;
}

.small-minus-margin {
    margin-top: -1rem;
}

.small-minus-margin-svg {
    margin-top: -7rem;
}

.top-margin {
    margin-top: 5rem;
}

.big-top-margin {
    margin-top: 10rem
}

.bottom-margin {
    margin-bottom: 7rem;
}

.no-padding {
    padding-right: var(--bs-gutter-x,0rem) !important;
    padding-left: var(--bs-gutter-x,0rem) !important;
}

.minus-left-margin {
    margin-left: -8rem;
}

.top {
    z-index: 2;
}

.big-padding {
    padding-left: 14rem;
}

.mid-padding {
    padding-left: 8rem;
}

.horizontal-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.horizontal-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.height-inherit {
    height: inherit;
}




/* Colours */

.yellow {
   color: #E1C27A; 
}

.purple {
    color: #643C7C;
}

.purple-fill {
    fill: #643C7C;
}

.purple-background {
    background-color: #643C7C;
}

.smoke {
    color: #f8efef;
}

.smoke-background {
    background-color: #f8efef;
}

.red {
    color: #B66868;
}

.red-background {
    background-color: #B66868;
}

.red-opacity {
    background-color: #b66868cb;
}

.brown-background {
    background-color: #c89090;
}

.brown-fill {
    fill: #c89090;
}

.pink-background {
    background-color: #ddbaba;
}

.pink-fill {
    fill: #ddbaba;
}

.beige {
    color: #F4E8DD;
}

.beige-fill {
    fill: #F4E8DD;
}

.beige-background {
    background-color: #F4E8DD;
    z-index: 2;
}

.white {
    color: white;
}

.white-fill {
    fill: white;
}

.white-background {
    background-color: white;
}

/* Navbar */
.navbar {
    box-shadow: 0px 1px 10px 1px rgb(148 139 148 / 83%);
    z-index: 3;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 2rem;
    font-weight: 500;
}

.nav-logo {
    width: auto;
    height: 4rem;
    margin-right: 1rem;
}

.testimonial-logo {
    width: auto;
    height: 4rem;
}

/* Sell Wine */

.sell-wine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wine-graphic {
    width: 100%;
}

.squish {
    width: 85%;
}

/* Panels */
.top-blob {
    transform: rotate(180deg);
    margin-bottom: -1rem;
}

.panels {
    padding: 15rem 0rem;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Timeline */

.bend-title {
    margin-bottom: 8rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 15rem;
    justify-content: center;
}

.info-oppo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15rem;
    justify-content: center;
}

.portfolio {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#portfolio {
    margin-top: -6rem;
    z-index: 3;
}

.portfolio-oppo {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: center;
}

.circle {
    width: auto;
    height: auto;
    padding: 8rem;
    border-radius: 50%;
    background-color: #643C7C;
    position: absolute;
    margin-left: 20rem;
    border: 8px solid white;
    z-index: 3;
}

.lines {
    width: 100%;
}

.timeline-background {
    position: absolute;
    margin-top: -6rem;
}

.circle-oppo {
    width: auto;
    height: auto;
    padding: 8rem;
    border-radius: 50%;
    background-color: #643C7C;
    position: absolute;
    margin-right: 20rem;
    border: 8px solid white;
    z-index: 3;
}

/* Bottom Info */
.bottom-info {
    margin-top: 7rem;
}

.top-blob-white {
    transform: rotate(180deg);
    margin-top: -7rem;
    margin-bottom: -1rem;
    /* filter: drop-shadow(3px 5px 2px rgba(195, 115, 115, 0.1)); */
}

/* Carousel */

.carousel-control-next {
    right: -50px;
}

.carousel-control-prev {
    left: -50px;
}

/* Testimonial */

.blob {
    display: flex;
    align-items: flex-end;
    margin-top: -1rem;
    padding-right: var(--bs-gutter-x,0rem);
    padding-left: var(--bs-gutter-x,0rem);
}

.blob-holder {
    position: absolute;
}

.blob-bottom {
    transform: scaleY(-1);
}

.image-holder img {
    width: 95%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Sell Fine Wines */

.sell-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50rem;
    padding: 0;
    margin-bottom: 5rem
}

.sell-fine-wine {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    justify-content: center;
}

.text-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squish-text {
    width: 30rem;
}

.book-now {
    justify-content: start;
    display: flex;
}

.info-img-holder {
    height: 35rem;
    margin-top: -10rem;
    z-index: -1;
}

.info-img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: top;
}

#sellBlob {
    margin-top: -8rem;
}

/* Free Valuation wave */

.flip-wave {
    transform: rotate(180deg);
    margin-top: 0px;
    position: absolute;
}

.wave-book {
    height: 7rem;
}


/* How It Works */

.how-holder {
    display: flex;
    height: 50rem;
}

.how-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 50rem;
    padding: 0;
    margin-bottom: 5rem
}

.how-img {
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.how-card {
    padding: 4rem 10rem;
}

#howBlob {
    margin-top: -15rem;
}

.top-card {
    position: relative;
    z-index: 5;
}


/* Media Queries */

@media (min-width: 768px) {
    .thirty-percent {
        width: 27%;
    }
}


